# API Pedidos
PORT=3000
MONGODB_URI=mongodb://mongo:27017/restaurant_db
RABBITMQ_URL=amqp://guest:guest@RabbitMQ:5672
JWT_SECRET=supersecreto
NODE_ENV=development

# Servicio Cocina (Backend SOLO)
WEBSOCKET_PORT=3001

# Tablero Cocina (Frontend SOLO)
TABLERO_PORT=3003

# Front Mesero
FRONT_PORT=8080

# ELASTICSEARCH
ELASTIC_PASSWORD=MiClaveElastic123

# Kibana
KIBANA_SYSTEM_PASSWORD=MiClaveKibana123
KIBANA_ENCRYPTION_KEY=TuClaveSeguraDe32CaracteresAqui1

#APM
APM_SERVER_URL=http://apm-server:8200
APM_SECRET_TOKEN=TuTokenSecretoParaAPM